<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="Y2S1_INC_Compliance_proj.Properties.Settings.DefaultConnection" connectionString="server=localhost;port=3306;database=schoolMS;user=root;password=iL60/7-qz5L=;"
			providerName="MySql.Data.MySqlClient"/>

	</connectionStrings>
</configuration>